<input type="text" value="{{title}}" />
<hr />

<textarea name=""content" cols="50">{{{content}}}</textarea>


<div id="edit_info">
<span>{{pageKey}}</span> last edited by <span>{{username}}</span> at <span>{{dateModified}}</span>
</div>